

<div class="container" >

<div   *ngIf="this.id !== 'add' ">
    
<h4 class="mt-5 mb-3">add new examination period</h4>
    
<form [formGroup]="addForm" (ngSubmit)="submit()">

        

<div class="form-group">
    <label>Start date</label>
    <input formControlName="startDateOfThePeriod" type="datetime-local" class="form-control"  >
    <small [class.d-none]="startDateOfThePeriod.valid || startDateOfThePeriod.untouched" class="text-danger">End date is mandatory!</small>

</div>



<div class="form-group">
    <label>End date</label>
    <input formControlName="endDateOfThePeriod" type="datetime-local" class="form-control">
    <small [class.d-none]="endDateOfThePeriod.valid || endDateOfThePeriod.untouched" class="text-danger">End date is mandatory!</small>

</div>







<div class="form-group">
    <label class="control-label">Name period</label>
    <select class="form-control" formControlName="namePeriod"  required>
        <option [value]="null" disabled>choose</option>
        <option *ngFor="let ulogaLine of examinationPeriodArray"[ngValue]="ulogaLine">
         {{ ulogaLine }}
         
        </option>

      </select> 
      <small [class.d-none]="namePeriod.valid || namePeriod.untouched" class="text-danger">name of exam is mandatory!</small>

</div>


<button  (click)="submit()" class="btn btn-primary"  type="submit">submit</button>


</form>


</div >







<div   *ngIf="this.id == 'add' ">
    
    <h4 class="mt-5 mb-3">add new examination period</h4>
    <form [formGroup]="saveForm" (ngSubmit)="submitSave()">
 

    <div class="form-group">
        <label>Start date</label>
        <input formControlName="startDateOfThePeriod1" type="datetime-local" class="form-control"  >
        <small [class.d-none]="startDateOfThePeriod1.valid || startDateOfThePeriod1.untouched" class="text-danger">Start date is mandatory!</small>

    </div>

    <div class="form-group">
        <label>End date</label>
        <input formControlName="endDateOfThePeriod1" type="datetime-local" class="form-control">
        <small [class.d-none]="endDateOfThePeriod1.valid || endDateOfThePeriod1.untouched" class="text-danger">End date is mandatory!</small>

    </div>
    

    <div class="form-group">

        <label class="control-label">exam</label>

        <select class="form-control" formControlName="namePeriod1"  required>

            <option [value]="null" disabled>choose</option>
            <option *ngFor="let ulogaLine of examinationPeriodArray"[ngValue]="ulogaLine">
                {{ ulogaLine }}
            </option>

          </select> 
          <small [class.d-none]="namePeriod1.valid || namePeriod1.untouched" class="text-danger">name of exam is mandatory!</small>

    </div>
    
    
    <button   class="btn btn-primary"  type="submit">submit</button>
    
    
    </form>
    
    
    </div >


</div>