

<div  *ngIf="this.role === 'ROLE_ADMIN'" class="container"  >


<div style="text-align: center;" class="top"  >

   <input type="text"  [(ngModel)]="searchTerm1">
   <input type="date"  [(ngModel)]="searchTerm2">
   <input type="date"  [(ngModel)]="searchTerm3">

</div>

<h4>Examination Period</h4>


<table class="table">

    <thead>
       <tr>
          <th>#ID</th>
          <th (click)="sort('endOfExamPeriod')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
            <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i>End Of Exam Period</th>
    
         <th (click)="sort('theBeginningOfTheExaminationPeriod')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
            <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i>The Beginning Of The Examination Period</th>

         <th (click)="sort('nameOfExamPeriod')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
            <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i>Name Of Exam Period</th>
          
         <th><a class="btn btn-primary" [routerLink]="['/ExaminationPeriodUpdate','add']">add</a>
         </th>

       </tr>
    </thead>
    <tbody>
       <tr *ngFor="let item of examinationPeriodDto    |examinationPeriodSort:this.order:this.field|examinationPeriodFilter :searchTerm1:searchTerm2:searchTerm3">
          <th>{{ item.id }}</th>
          <th>{{ item.endOfExamPeriod }}</th>
          <th>{{ item.theBeginningOfTheExaminationPeriod }}</th>
          <th>{{ item.nameOfExamPeriod }}</th>
          <th><a class="btn btn-primary" [routerLink]="['/ExaminationPeriodUpdate',item.id]">update</a></th>
          <th><a class="btn btn-primary" (click)="deleteExaminationPeriod(item.id)"  >DELETE</a></th>
         
       </tr>
    </tbody>
  </table>

</div>



<div  *ngIf="this.role === 'ROLE_PROFESSOR'" class="container"   >
    

   <div style="text-align: center;"  class="top">

      <input type="text"  [(ngModel)]="searchTerm11">
      <input type="date"  [(ngModel)]="searchTerm22">
      <input type="date"  [(ngModel)]="searchTerm33">
      


      
   </div>
   <H4>Examination Periods All</H4>
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>#ID</th>
                  <th (click)="sort('endOfExamPeriod')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
                    <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i>End Of Exam Period</th>
            
                 <th (click)="sort('theBeginningOfTheExaminationPeriod')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
                    <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i>The Beginning Of The Examination Period</th>
            
                       
                 <th (click)="sort('nameOfExamPeriod')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
                    <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i>Name Of Exam Period</th>
                  
              
        
                 
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of examinationPeriodDto |examinationPeriodSort:this.order:this.field|examinationPeriodFilter :searchTerm11:searchTerm22:searchTerm33">
                  <th>{{ item.id }}</th>
                  <th>{{ item.endOfExamPeriod }}</th>
                  <th>{{ item.theBeginningOfTheExaminationPeriod }}</th>
                  <th>{{ item.nameOfExamPeriod }}</th>
                  <th><a class="btn btn-primary" [routerLink]="['/SubjectsFromTacher',item.id]">next</a></th>
               </tr>
            </tbody>
         </table>





      </div>
