<div class="container">
    <h2>Create subject</h2>
    <form  [formGroup]="createSubject">
        <div class="form-group" >
          <label>Subject name</label>
          <input  formControlName="name" type="text" class="form-control" >
          <small [class.d-none]="name.valid || name.untouched" class="text-danger">name is mandatory!</small>
        </div>
        <div class="form-group" >
          <label>Number Of ECTS Points</label>
          <input  formControlName="numberOfECTSPoints" type="number" class="form-control" >
          <small [class.d-none]="numberOfECTSPoints.valid || numberOfECTSPoints.untouched" class="text-danger">Number Of ECTS Points is mandatory!</small>
        </div>
        <div class="form-group" >
          <label>Teacher</label>
          <select class="form-control" formControlName="teacher" >
            <option *ngFor="let teach of teachers" [value]="teach.id">
              {{teach.name}}
            </option>
          </select>
          <small [class.d-none]="teacher.valid || teacher.untouched" class="text-danger">Teacher is mandatory!</small>
        </div>
        <button class="btn btn-primary mt-1"  (click)="createSub()" type="submit">Create</button>
      </form>
</div>
