
<div id="bg" class="site-background-1"   [ngStyle]="{backgroundImage:'url(https://collectieftest.aegee-delft.nl/wp-content/uploads/2019/01/site-background-1.png)'}">

    <!-- *ngIf="this.id =='main'" -->
    <!-- // ROLE_PROFESSOR
    // ROLE_ADMIN
    // ROLE_UCENIK -->

    <nav  class="navbar navbar-dark bg-dark">


        <div  class="container" *ngIf="this.role =='ROLE_PROFESSOR'" >

            <li><a routerLink="ExaminationPeriodAll" > Examination period all</a></li>
            <li><a routerLink="SubjectComponent" > Subjects</a></li>


        </div>

        <div  class="container" *ngIf="this.role =='ROLE_ADMIN'" >


            <li><a routerLink="ExaminationPeriodAll" > Examination period all</a></li>
            <!-- <li><a [routerLink]="['/ExamComponent','main']">exam history</a></li> -->
            <li><a routerLink="TeacherComponent" > Teachers</a></li>
            <li><a routerLink="SubjectComponent" > Subjects</a></li>
            <li><a routerLink="CreateSubject" > Create Subject</a></li>
            <li><a routerLink="CreateTeacher" >Create Teacher</a></li>
            <li><a routerLink="StudentComponent" > Students</a></li>
            <li><a routerLink="CreateStudent" >Create Student</a></li>


        </div>

        <div  class="container" *ngIf="this.role =='ROLE_STUDENT'" >
            <li><a [routerLink]="['/ExamComponent','main']">Exam history</a></li>
            <li><a routerLink="NotPassedExamFromUser" >Not passed exam</a></li>
            <li><a routerLink="PassedExamComponent" > Passed exam</a></li>
            <li><a routerLink="ExaminationPeriod" > Examination period</a></li>
            <li><a routerLink="SubjectComponent" > Subjects</a></li>
        </div>


    </nav>
    
    <router-outlet></router-outlet>

</div>
   








