#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }
a{
  text-decoration: none;
  color: white;
}
li{
  list-style: none;
}


.top
{
    width: 100%;
    height: 70px;
    position: relative;
}
.same
{
    position: absolute;
}