.user{
    width: 22%;
    display: inline-block;
    margin-left: 20px;
}
.bankAccount{
    width: 22%;
    float: right;
    display: grid;
}
.student{
    width: 22%;
    float: left;
    display: grid;
    margin-left: 50px;
}
.student2{
    width: 22%;
    float: left;
    display: grid;
    margin-top: 43px;
margin-left: 45px;
}
.student h3{
    text-align: center;
}