
<div class="container">
    <h2>Create student</h2>
    <form  [formGroup]="createStudent">
        <div class="user">
            <h3>User detail</h3>
            <div class="form-group" >
                <label>Username</label>
                <input  formControlName="userName" type="text" class="form-control" >
            </div>
            
            <div class="form-group">
            <label>Password</label>
            <input formControlName="password" type="text" class="form-control"  >
            </div>
            <div class="form-group"  >
                <label>Department</label>
                <select class="form-control" formControlName="department" >
                    <option value=1 >Softverske i informacione tehnologije</option>
                    <option value=2 >Saobracaj</option>
                    <option value=3 >Softversko inzenjerstvo i informacione tehnologije</option>
                </select>
            </div>
        </div>
       <div class="bankAccount">
        <h3>Bank account detail</h3>
        <div class="form-group" >
            <label>Bank account</label>
            <input  formControlName="bankAccount" type="number" class="form-control" >
        </div>
       
       <div class="form-group">
          <label>Card Number</label>
          <input formControlName="cardNumber" type="number"  class="form-control"  >
       </div>
       <div class="form-group" >
        <label>Model Number</label>
        <input  formControlName="modelNumber" type="number" class="form-control" >
       </div>
   
        <div class="form-group">
            <label>Sum </label>
            <input formControlName="sum" type="number" class="form-control"  >
        </div>
       </div>
        
       <div class="student">

        <h3>Student detail</h3>
        <div class="form-group" >
            <label>Name</label>
            <input  formControlName="name" type="text" class="form-control" >
        </div>
       
       <div class="form-group">
          <label>LastName</label>
          <input formControlName="lastName" type="text" class="form-control"  >
       </div>
       <div class="form-group" >
        <label>Index</label>
        <input  formControlName="index" type="text" class="form-control" >
       </div>
   
        <div class="form-group">
            <label>Date Of Birth </label>
            <input formControlName="dateOfBirth" type="date" class="form-control"  >
        </div>
        <!-- <div class="form-group" >
            <label>Year Of Enrollment</label>
            <input  formControlName="yearOfEnrollment" type="number" class="form-control" >
        </div> -->
    </div>
    <div class="student2">
       <!-- <div class="form-group">
          <label>Year Study</label>
          <input formControlName="yearStudy" type="number" class="form-control"  >
       </div>
       <div class="form-group" >
        <label>Place Of Birth</label>
        <input  formControlName="placeOfBirth" type="text" class="form-control" >
       </div> -->
   
        <div class="form-group">
            <label>Country Of Birth </label>
            <input formControlName="countryOfBirth" type="text" class="form-control"  >
        </div>
        <!-- <div class="form-group">
          <label>Address</label>
          <input formControlName="address" type="text" class="form-control"  >
       </div> -->
       <div class="form-group" >
        <label>Way Of Financing</label>
        <select class="form-control" formControlName="wayOfFinancing" >
            <option value="budzet" >Budzet</option>
            <option value="samofinansiranje" >Samofinansiranje</option>
        </select>
       </div>
   
        <div class="form-group">
            <label>Gender</label>
            <select class="form-control" formControlName="gender" >
                <option value="MALE" >Muski</option>
                <option value="FEMALE" >Zenski</option>
            </select>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input formControlName="email" type="text" class="form-control"  >
         </div>
         <button class="btn btn-primary mt-1"  (click)="update()" type="submit">Save</button>
    </div>
   
        <!-- <div class="form-group">
            <label>Total ECTS Points </label>
            <input formControlName="totalECTSPoints" type="number" class="form-control"  >
        </div>
       <div class="form-group">
        <label>Average Rating </label>
        <input formControlName="averageRating" type="number" class="form-control"  >
    </div> -->
    
        
    
    </form>
</div>

