<div class="container">
      <div class="row" *ngIf="student">
        <div class="col-sm">
          <h2>Student Details</h2><hr>
          <h5>Name: <strong> {{ student.name }}</strong></h5>
          <h5>Last Name: <strong>{{ student.lastName }}</strong></h5>
          <h5>index: <strong>{{ student.index }}</strong></h5>
          <h5>Country Of Birth: <strong>{{ student.countryOfBirth }}</strong></h5>
          <h5>Place Of Birth: <strong>{{ student.placeOfBirth }}</strong></h5>
          <h5>Email: <strong>{{ student.email }}</strong></h5>
          <h5>Address: <strong>{{ student.address }}</strong></h5>
          <form  [formGroup]="updateStudent">
            <div class="form-group" >
              <label>Average rating</label>
              <input  formControlName="averageRating" type="number" class="form-control" >
              <small [class.d-none]="averageRating.valid || averageRating.untouched" class="text-danger">averageRating is mandatory!</small>
            </div>
            <div class="form-group" >
              <label>Total etc points</label>
              <input  formControlName="totalECTSPoints" type="number" class="form-control" >
              <small [class.d-none]="totalECTSPoints.valid || totalECTSPoints.untouched" class="text-danger">totalECTSPoints is mandatory!</small>
            </div>
           
          </form>
        </div>
        
        <div class="col-sm">
          <h2>Card Details</h2><hr>
          <h5>Bank account: <strong>{{student.financialCard.bankAccount}}</strong> </h5>
          <h5>Card Number: <strong>{{student.financialCard.cardNumber}}</strong></h5>
          <h5>Model Number: <strong>{{student.financialCard.modelNumber}}</strong></h5>
          <h5>Sum: <strong>{{student.financialCard.sum}}</strong></h5> 
          <form [formGroup]="updateStudent">
            <div class="form-group" >
              <label>Year of study</label>
              <input  formControlName="yearStudy" type="number" class="form-control" >
              <small [class.d-none]="yearStudy.valid || yearStudy.untouched" class="text-danger">Year study is mandatory!</small>
            </div>
            <div class="form-group" >
              <label>Way of financing</label>
              <select class="form-control" formControlName="wayOfFinancing" >
                <option value="budzet" >Budzet</option>
                <option value="samofinansiranje" >Samofinansiranje</option>
            </select>
              <small [class.d-none]="wayOfFinancing.valid || wayOfFinancing.untouched" class="text-danger">Way Of Financing is mandatory!</small>
            </div>
            <button class="btn btn-primary mt-1"  (click)="updateStud()" type="submit">Update</button>
          </form>       
        </div>
        <div class="col-sm">
          <h2>User Details</h2><hr>
          <h5>Username: <strong>{{ student.user.username}}</strong> </h5>
          <h5>Password: <strong>{{ student.user.password}}</strong></h5>
        </div>
      </div>
  

    <div  *ngIf="!student">    
       Student not found
    </div>
</div>
