<div class="container" >

   <div class="container" *ngIf="this.id =='main'">


      <div style="text-align: center;" class="top">

         <input type="text" [(ngModel)]="sSubijekt">
         <input type="date" [(ngModel)]="searchTerm2">
         <input type="date" [(ngModel)]="searchTerm3">

      </div>
      <H4>Exam hsistory</H4>
      <table class="table table-hover w-100">

         <thead>
            <tr>
               <th>#ID</th>
               <!-- <th>Price</th> -->
               <th (click)="sort('Price')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
                  <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Price
               </th>
               <th (click)="sort('dateOfLaying')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up"
                     aria-hidden="true"></i>
                  <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Date Of Laying
               </th>
               <th (click)="sort('dateOfApplication')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up"
                     aria-hidden="true"></i>
                  <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Date Of Application
               </th>
               <th (click)="sort('subject.name')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up"
                     aria-hidden="true"></i>
                  <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Subject
               </th>
               <th (click)="sort('pointsTheory')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up"
                     aria-hidden="true"></i>
                  <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Points Theory
               </th>
               <th (click)="sort('ExercisePoints')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up"
                     aria-hidden="true"></i>
                  <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Exercise Points
               </th>

               <!-- <th>pointsTheory</th> -->
               <!-- <th>ExercisePoints</th> -->

            </tr>
         </thead>
         <tbody>
            <tr
               *ngFor="let item of exam |examSort:this.order:this.field | examFilter :sSubijekt:searchTerm2:searchTerm3 ">

               <th>{{ item.id }}</th>
               <th>{{ item.price }}</th>
               <th>{{ item.dateOfLaying }}</th>
               <td>{{ item.dateOfApplication }}</td>
               <th>{{ item.subjectDto.name }}</th>
               <th>{{ item.pointsTheory }}</th>
               <th>{{ item.exercisePoints }}</th>

            </tr>
         </tbody>
      </table>

   </div>

   <div class="container" *ngIf="this.id !='main'">


      <h2 class="mt-5 mb-3">student {{studentValue}}</h2>
      <h2 class="mt-5 mb-3">index {{index}}</h2>

      <form class="w-50" [formGroup]="updateExam">

         <div class="form-group">
            <label>points theory</label>
            <input formControlName="points_theory" type="number" class="form-control">
            <small [class.d-none]="points_theory.valid || points_theory.untouched" class="text-danger">points theory is
               mandatory!</small>
         </div>

         <div class="form-group">
            <label>exercise points</label>
            <input formControlName="exercise_points" type="number" class="form-control">
            <small [class.d-none]="exercise_points.valid || exercise_points.untouched" class="text-danger">exercise
               points is mandatory!</small>
         </div>



         <div class="form-group">
            <div class="form-group">
               <label class="control-label">assessment</label>
               <select class="form-control" formControlName="assessment" required>
                  <option [value]="null" disabled>null</option>
                  <option *ngFor="let ulogaLine of _assessment" [ngValue]="ulogaLine">
                     {{ ulogaLine }}

                  </option>
               </select>


            </div>
         </div>


         <div class="form-group">
            <label>date of laying</label>
            <input formControlName="dateOfLaying" type="text" disabled="disabled" class="form-control">
            <small [class.d-none]="dateOfLaying.valid || dateOfLaying.untouched" class="text-danger">date of application
               is mandatory!</small>
         </div>


         <div class="form-group">
            <label>date of application</label>
            <input formControlName="dateOfApplication" type="text" disabled="disabled" class="form-control">
            <small [class.d-none]="dateOfApplication.valid || dateOfApplication.untouched" class="text-danger">date of
               application is mandatory!</small>
         </div>

         <div class="form-group">
            <label>price</label>
            <input formControlName="price" type="text" class="form-control" disabled="disabled">
            <small [class.d-none]="price.valid || price.untouched" class="text-danger">price is mandatory!</small>
         </div>


         <button class="btn btn-primary mt-1" (click)="updateExamSubmit()" type="submit">Save</button>
      </form>




   </div>

</div>