<div class="divv">
    <form [formGroup]="loginForm">
        <h2 class="h2">Prijava</h2>

            <div class="form-group">
                <input formControlName="username" type="text" placeholder="Korisnicko ime"
                    class="form-control">
            </div>
    
            <div class="form-group">
                <input formControlName="password" type="password" placeholder="Lozinka"
                    class="form-control">
            </div>
    
            <button class="btn" (click)="submitLogin()" type="submit" >Log in</button>

        
    </form>
</div>