<div class="container">
    <div class="row" *ngIf="teacher">
        <div class="col-sm">
          <h2>Teacher Details</h2><hr>
          <form  [formGroup]="updateTeacher">
            <div class="form-group" >
              <label>Teacher username</label>
              <input  formControlName="userName" type="text" class="form-control" >
              <small [class.d-none]="userName.valid || userName.untouched" class="text-danger">userName is mandatory!</small>
            </div>
            <div class="form-group" >
              <label>Teacher password</label>
              <input  formControlName="password" type="text" class="form-control" >
              <small [class.d-none]="password.valid || password.untouched" class="text-danger">password is mandatory!</small>
            </div>
            <div class="form-group" >
              <label>Teacher name</label>
              <input  formControlName="name" type="text" class="form-control" >
              <small [class.d-none]="name.valid || name.untouched" class="text-danger">name is mandatory!</small>
            </div>
            <div class="form-group" >
              <label>Last name</label>
              <input  formControlName="lastName" type="text" class="form-control" >
              <small [class.d-none]="lastName.valid || lastName.untouched" class="text-danger">Last Name is mandatory!</small>
            </div>
            <div class="form-group" >
              <label>Email</label>
              <input  formControlName="email" type="email" class="form-control" >
              <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is mandatory!</small>
            </div>
            <button class="btn btn-primary mt-1"  (click)="updateTeach()" type="submit">Update</button>
          </form>
        </div>
      </div>

    <div  *ngIf="!teacher">    
        Teacher not found
    </div> 
</div>

