<div class="container">
    <h2>Create student</h2>
    <form  [formGroup]="createStudent">
        <div class="user">
            <h3>User detail</h3>
            <div class="form-group" >
                <label>Username</label>
                <input  formControlName="username" type="text" class="form-control" >
            </div>
            
            <div class="form-group">
            <label>Password</label>
            <input formControlName="password" type="text" class="form-control"  >
            </div>
        </div>
        
       <div class="student">

        <h3>Teacher detail</h3>
        <div class="form-group" >
            <label>Name</label>
            <input  formControlName="name" type="text" class="form-control" >
        </div>
       
       <div class="form-group">
          <label>LastName</label>
          <input formControlName="lastName" type="text" class="form-control"  >
       </div>

        <div class="form-group">
            <label>Email</label>
            <input formControlName="email" type="text" class="form-control"  >
         </div>
        
         <div class="form-group"  >
            <label>Department</label>
            <select class="form-control" formControlName="department" >
                <option value=1 >Softverske i informacione tehnologije</option>
                <option value=2 >Saobracaj</option>
                <option value=3 >Softversko inzenjerstvo i informacione tehnologije</option>
            </select>
        </div>
         <button class="btn btn-primary mt-1"  (click)="update()" type="submit">Save</button>
    </div>
    
    </form>
</div>
