<div class="container"  >

<div *ngIf="isShown" class="row container-fluid"  >

<H4>Examination period</H4>


<table class="table">
    <thead>
       <tr>
          <th>#ID</th>
          <th (click)="sort('price')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
            <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i>Price</th>
    
          <!-- <th>Price</th> -->
          <th>Date Of Laying</th>
          <th>Date Of Application</th>
          <th>Subject</th>
          <th>Points Theory</th>
          <th>Exercise Points</th>
         
       </tr>
    </thead>
    <tbody>
       <tr *ngFor="let item of examsNotRegistered   ">
          <th>{{ item.id }}</th>
          <th>{{ item.Price }}</th>
          <th>{{ item.dateOfLaying }}</th>
          <td>{{ item.dateOfApplication }}</td>
          <th>{{ item.subjectDto.name}}</th>
          <th>{{ item.pointsTheory }}</th>
          <th><button class="btn btn-primary" (click)="addToCart(item.id)">
            check-in</button></th>
  
            <!-- |examinationPeriodSort:this.order:this.field  -->
  
       </tr>
    </tbody>
  </table>


  <H4>Registered exams</H4>

<table class="table">
    <thead>
       <tr>
          <th>#ID</th>
          <th>Price</th>
          <th>Date Of Laying</th>
          <th>Date Of Application</th>
          <th>Subject</th>
          <th>Points Theory</th>
          <th>Exercise Points</th>
         
       </tr>
    </thead>
    <tbody>
       <tr *ngFor="let item of examsRegistered">
          <th>{{ item.id }}</th>
          <th>{{ item.Price }}</th>
          <th>{{ item.dateOfLaying }}</th>
          <td>{{ item.dateOfApplication }}</td>
          <th>{{ item.subjectDto.name}}</th>
          <th>{{ item.pointsTheory }}</th>
          <th><button class="btn btn-primary" (click)="addToCartOnNull(item.id)">
            sign out</button></th>
  
  
  
       </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="!isShown"  >
   <h3>there is no active exam period!</h3>
</div>

</div>