<div class="container">
    <div class="row" *ngIf="role==='ROLE_PROFESSOR'">
        <div class="col-sm">
          <h2>Teacher Details</h2><hr>
          <form  [formGroup]="updateTeacher">
            <div class="form-group" >
              <label>Teacher username</label>
              <input  formControlName="userName" type="text" class="form-control" >
              <small [class.d-none]="userName.valid || userName.untouched" class="text-danger">userName is mandatory!</small>
            </div>
            <div class="form-group" >
              <label>Teacher password</label>
              <input  formControlName="password" type="text" class="form-control" >
              <small [class.d-none]="password.valid || password.untouched" class="text-danger">password is mandatory!</small>
            </div>
            <div class="form-group" >
              <label>Teacher name</label>
              <input  formControlName="name" type="text" class="form-control" >
              <small [class.d-none]="name.valid || name.untouched" class="text-danger">name is mandatory!</small>
            </div>
            <div class="form-group" >
              <label>Last name</label>
              <input  formControlName="lastName" type="text" class="form-control" >
              <small [class.d-none]="lastName.valid || lastName.untouched" class="text-danger">Last Name is mandatory!</small>
            </div>
            <div class="form-group" >
              <label>Email</label>
              <input  formControlName="email" type="email" class="form-control" >
              <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is mandatory!</small>
            </div>
            <button class="btn btn-primary mt-1"  (click)="updateTeach()" type="submit">Update</button>
          </form>
        </div>
      </div>

    <div  *ngIf="role==='ROLE_STUDENT'">    
        <div class="col-sm">
            <form [formGroup]="updateStudent">
                <h3>Student detail</h3>
                <div class="form-group" >
                    <label>Username</label>
                    <input  formControlName="userNameS" type="text" class="form-control" >
                </div>
                
                <div class="form-group">
                    <label>Password</label>
                    <input formControlName="passwordS" type="text" class="form-control"  >
                </div>
                <h3>Student detail</h3>
                <div class="form-group" >
                    <label>Name</label>
                    <input  formControlName="nameS" type="text" class="form-control" >
                </div>
               
               <div class="form-group">
                  <label>LastName</label>
                  <input formControlName="lastNameS" type="text" class="form-control"  >
               </div>
                <div class="form-group">
                    <label>Date Of Birth </label>
                    <input formControlName="dateOfBirth" type="date" class="form-control"  >
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input formControlName="emailS" type="text" class="form-control"  >
                 </div>
                <button class="btn btn-primary mt-1"  (click)="updateStud()" type="submit">Update</button>
              </form>       
        </div>
        <div *ngIf="role==='ROLE_ADMIN'">
            <div class="col-sm">
                <form [formGroup]="updateAdmin">
                    <div class="form-group" >
                        <label>Name</label>
                        <input  formControlName="userNameA" type="text" class="form-control" >
                    </div>
                   
                   <div class="form-group">
                      <label>Password</label>
                      <input formControlName="passwordA" type="text" class="form-control"  >
                   </div>
                   <button class="btn btn-primary mt-1"  (click)="updateAdm()" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div> 
</div>
