<div class="container">
    <div class="row" *ngIf="subject && role==='ROLE_STUDENT' || role==='ROLE_PROFESSOR'">
      <div class="col-sm">
        <h2>Subject Details</h2><hr>
        <h5>Name:<strong> {{ subject.name }}</strong></h5>
        <h5>Number Of ECTS Points: <strong>{{ subject.numberOfECTSPoints }}</strong></h5>
        <!-- <h5>Date Of Laying: <strong>{{ subject.dateOfLaying }}</strong></h5> -->
      </div> 
    </div>
    
    <!-- <div class="row" *ngIf="subject && role==='ROLE_PROFESSOR'">
      <div class="col-sm">
        <h2>Subject Details</h2><hr>
        <h5>Name:<strong> {{ subject.name }}</strong></h5>
        <h5>Number Of ECTS Points: <strong>{{ subject.numberOfECTSPoints }}</strong></h5>
        <form  [formGroup]="updateSubject">
        <div class="form-group" >
          <label>Date</label>
          <input  formControlName="dateOfLaying" type="date" class="form-control" >
          <small [class.d-none]="dateOfLaying.valid || dateOfLaying.untouched" class="text-danger">Date is mandatory!</small>
        </div>
        <button class="btn btn-primary mt-1"  (click)="updateSub()" type="submit">Update</button>
      </form>
      </div> 
    </div> -->

    <div class="row" *ngIf="subject && role==='ROLE_ADMIN'">
      <div class="col-sm">
        <h2>Subject Details</h2><hr>
        <form  [formGroup]="updateSubject">
          <div class="form-group" >
            <label>Subject name</label>
            <input  formControlName="name" type="text" class="form-control" >
            <small [class.d-none]="name.valid || name.untouched" class="text-danger">name is mandatory!</small>
          </div>
          <div class="form-group" >
            <label>Number Of ECTS Points</label>
            <input  formControlName="numberOfECTSPoints" type="number" class="form-control" >
            <small [class.d-none]="numberOfECTSPoints.valid || numberOfECTSPoints.untouched" class="text-danger">Number Of ECTS Points is mandatory!</small>
          </div>
          <!-- <div class="form-group" >
            <label>Date</label>
            <input  formControlName="dateOfLaying" type="date" class="form-control" >
            <small [class.d-none]="dateOfLaying.valid || dateOfLaying.untouched" class="text-danger">Date is mandatory!</small>
          </div> -->
          <button class="btn btn-primary mt-1"  (click)="updateSub()" type="submit">Update</button>
        </form>
      </div>
     
    </div>
  <div  *ngIf="!subject">    
     Subject not found
  </div>
</div>

