
<div class="container"   >

<div  class="top">
   <h4>Subject</h4>

</div>
  

    <table class="table table-hover w-100" >
       
    <thead>
       <tr>
        <th>#ID</th>
        <th>#name</th>
       
         
       </tr>
    </thead>
    <tbody>
     <tr *ngFor="let item of subjectDtoList">
  
          <th>{{ item.id }}</th>
          <th>{{ item.name }}</th>

          <th><a class="btn btn-primary" [routerLink]="['/ExamFromExaminationPeriod',item.id,id]">next</a></th>

       </tr>
    </tbody>
  </table>
  
  </div>


