<div class="container"  >
<div style="text-align: center;" class="top">

   <input type="text"  [(ngModel)]="saerctSubijekt">
   <input type="date"  [(ngModel)]="searchTerm2">
   <input type="date"  [(ngModel)]="searchTerm3">

</div>
<H4>Passed exam</H4>
<table class="table">
   <thead>
  


      <tr>
         <th>#ID</th>
         <th (click)="sort('Price')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
          <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Price</th>
         <th (click)="sort('dateOfLaying')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
          <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Date Of Laying</th>
         <th (click)="sort('dateOfApplication')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
          <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Date Of Application</th>
          <th (click)="sort('subject.name')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
          <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Subject</th>
          <th (click)="sort('pointsTheory')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
          <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Points Theory</th>
          <th (click)="sort('ExercisePoints')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
          <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Exercise Points</th>
          <th>Assessment</th>
         </tr>


   </thead>
   <tbody>
      <tr *ngFor="let item of exam | examSort:this.order:this.field | examFilter : saerctSubijekt : searchTerm2 : searchTerm3  ">
         <th>{{ item.id }}</th>
         <th>{{ item.price }}</th>
         <th>{{ item.dateOfLaying }}</th>
         <td>{{ item.dateOfApplication }}</td>
         <th>{{ item.subjectDto.name }}</th>

         <th>{{ item.pointsTheory }}</th>
         <th>{{ item.exercisePoints }}</th>
         <th>{{ item.assessment }}</th>
 
         <!-- {{ item.subject.name }} -->
 
      </tr>
   </tbody>
   </table>
</div>


