<div class="container"  >

   <div style="text-align: center;">
      <label for="">search by name</label>
      <input type="text" [(ngModel)]="name" >
      <label for="">search by email</label>
      <input type="text" [(ngModel)]="email" >

   </div>

    <table class="table table-hover w-100">
       
    <thead>
       <tr>
          <th>Id</th>
          <th>Name</th>
          <th>LastName</th>
          <th>Email</th>
 
          <!-- <th>Price</th> -->
          <!-- <th (click)="sort('Price')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
           <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> Price</th>
          <th (click)="sort('dateOfLaying')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
           <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> dateOfLaying</th>
          <th (click)="sort('dateOfApplication')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
           <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> dateOfApplication</th>
           <th (click)="sort('subject.name')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
           <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> subject</th>
           <th (click)="sort('pointsTheory')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
           <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> pointsTheory</th>
           <th (click)="sort('ExercisePoints')"><i *ngIf="this.order==='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
           <i *ngIf="this.order==='desc'" class="fa fa-arrow-down" aria-hidden="true"></i> ExercisePoints</th>
      -->
           <!-- <th>pointsTheory</th> -->
          <!-- <th>ExercisePoints</th> -->
         
       </tr>
    </thead>
    <tbody>
     <tr *ngFor="let item of teachers | teacherFilter :name:email">
  
          <th><a class="btn btn-primary" [routerLink]="['/TeacherComponent',item.id]">{{item.id}}</a></th>
          <th>{{ item.name }}</th>
          <th>{{ item.lastName }}</th>
          <th>{{ item.email }}</th>
       </tr>
    </tbody>
  </table>
  
  </div>
